.inline-block () {
	display: inline-block;
}

.mq-aria-alert {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0;
	height: 0;
	text-align: left;
	overflow: hidden;
}

.mq-mathspeak {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0;
	height: 0;
	text-align: left;
	overflow: hidden;
}
